service-a:
  replicaCount: 1
  image:
    repository: nginx
    tag: latest
  service:
    type: NodePort 
    port: 80

service-b:
  replicaCount: 1
  image:
    repository: httpd
    tag: latest
  service:
    type: ClusterIP
    port: 80
